# Run on a specific port
PORT=3000

# Database connection string
DATABASE_URI=mongodb+srv://65a51f98794025c725dc1852-prod:2b441e36584902b0b3ab05a630f5e3@65a51f98794025c725dc185.5ykohe3.mongodb.net/65a51f98794025c725dc1852-prod

# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Used to format links and URLs
PAYLOAD_PUBLIC_SERVER_URL=http://localhost:3000
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Enable Stripe integration
STRIPE_SECRET_KEY=sk_test_51OXhWED2f3OG1gVKUyOgaRPdzzmc6IIwjHS7YMtBuAp0kugsDVgZKWSKK7RCmxplEBzksgrmWIczrxvebnqWoEv700eK7rre9s
PAYLOAD_PUBLIC_STRIPE_IS_TEST_KEY=true
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51OXhWED2f3OG1gVKuRCVEa0XfwYLESIHf2XFWBQbxRCgkdIK3wvltyjREp48JUOUduthAXAQrO56JWOzROn958DC00U6XBlM7B

# Enable Stripe webhooks (optional)
STRIPE_WEBHOOKS_SIGNING_SECRET=

# Allow robots to index the site (optional)
NEXT_PUBLIC_IS_LIVE=

# Used to preview drafts
PAYLOAD_PUBLIC_DRAFT_SECRET=demo-draft-secret
NEXT_PRIVATE_DRAFT_SECRET=demo-draft-secret

# Used to revalidate static pages
REVALIDATION_KEY=demo-revalation-key
NEXT_PRIVATE_REVALIDATION_KEY=demo-revalation-key

# Payload Cloud
MONGODB_URI=mongodb+srv://65a51f98794025c725dc1852-prod:2b441e36584902b0b3ab05a630f5e3@65a51f98794025c725dc185.5ykohe3.mongodb.net/65a51f98794025c725dc1852-prod

PAYLOAD_CLOUD=true
PAYLOAD_CLOUD_ENVIRONMENT=prod
PAYLOAD_CLOUD_COGNITO_USER_POOL_CLIENT_ID=41g336qas28e09l2t4aem4g8a4
PAYLOAD_CLOUD_COGNITO_USER_POOL_ID=us-east-1_ZlgAHNcUT
PAYLOAD_CLOUD_COGNITO_IDENTITY_POOL_ID=us-east-1:199ba45e-14ba-474a-840d-571ec902596d
PAYLOAD_CLOUD_PROJECT_ID=65a51f98794025c725dc1852
PAYLOAD_CLOUD_BUCKET=payload-tenant-bucket-eu-west-1
PAYLOAD_CLOUD_BUCKET_REGION=eu-west-1

# Copy this value from 'Cognito Password' field on File Storage page
PAYLOAD_CLOUD_COGNITO_PASSWORD=H71|WmA<K8hP,8vZ$ryWWod[


PAYLOAD_SECRET=1bc61b06-6f8a-4a42-9ba2-d4d43f0b491e